* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #021c1f;
  color: #dad3bf;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font: 700 2rem "Roboto", sans-serif;
}

p {
  margin: 30px 200px;
  font: 400 1.5rem "Roboto", sans-serif;
}

h2 {
  margin: 10px 200px;
  font: 700 1.5rem "Roboto", sans-serif;
}

ul {
  list-style: circle;
  margin: 20px 200px;
}

li {
  margin: 10px 20px;
  font: 400 1.5rem "Roboto", sans-serif;
}
